html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 20px;
}

.fancy-scrollarea {
    max-height: 700px;
    overflow-y: auto;
    border: 1px solid #e5e5e5; 
    border-radius: 10px; 
    padding: 30px; 
}



.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

.container-fluid {
    width: 100%;
}



.scroll-box {
    width: 100%; 
    height: auto; 
    overflow-x: scroll; 
    overflow-y: hidden; 
    white-space: nowrap; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start; 
}

    .scroll-box::-webkit-scrollbar {
        width: 0; 
    }

.box-content {
    width: 100%;
    display: flex;
}

